<link rel="stylesheet" href="/css/home.css" >
<div id="bodyDiv">
    <%- include('_side_menu') %>
    <div id="contentDiv">
        <div id="overlay" style="display: none">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
        </div>
        <h3>Batches data</h3>
        <table id="batchesTable" class="stripe">
            <thead>
                <tr>
                    <td>Name</td>
                </tr>
            </thead>
            <tbody id="batchesTbody">
                <% for(i of batches){ %>
                    <tr>
                        <td><%= i.name %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>    
    </div>
</div>
<script>
    $('#overlay').fadeIn();
    $(document).ready( function () {
       
        $('#batchesTable').DataTable({
            "initComplete": function(settings, json) {
                $('#overlay').fadeOut();
            }
        });
    } );
</script>

