<link rel="stylesheet" href="/css/home.css" >
<div id="bodyDiv">
    <%- include('_side_menu') %>
    <div id="contentDiv">
        <%- include('_spinner_overlay') %>
        <h3>Courses data</h3>
        <!-- Table showing courses data -->
        <table id="coursesTable" class="stripe">
            <thead>
                <tr>
                    <td>Name</td>
                </tr>
            </thead>
            <tbody id="coursesTbody">
                <% for(i of courses){ %>
                    <tr>
                        <td><%= i.name %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>    
    </div>
</div>

<script>
    $('#overlay').fadeIn();
    $(document).ready( function () {
        $('#coursesTable').DataTable({
            "initComplete": function(settings, json) {
                $('#overlay').fadeOut();
            }
        });
    } );
</script>