<link rel="stylesheet" href="/css/home.css" >
<div id="bodyDiv">
    <%- include('_side_menu') %>
    <!-- The home page of the app -->
    <div id="contentDiv">
        <h3>Welcome User</h3>
    </div>

</div>




        