<div style="display: flex;flex-direction: column;">
    <div style="display:flex;justify-content: center">
        <!-- form for signing up user -->
        <form action="/signup" method="post" style="width: 50%;" id="signupForm">
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" name="email" class="form-control" placeholder="Your email" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Your password" required>
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
    </div>
    
    
    <p style="text-align: center;">Already a user? <a href="/">Sign in</a></p>
</div>
<script>
    let toastS = new bootstrap.Toast($('#toast-success'));
    let toastSBody = $('#toast-success-body');
    let toastE = new bootstrap.Toast($('#toast-error'));
    let toastEBody = $('#toast-error-body');
    $("#signupForm").on("submit", function (event) {
        event.preventDefault();
        var form = $(this);
        $.ajax({
            url: form.attr('action'), 
            type: "POST",
            data: form.serialize(), 
            success: function(result){
                
                
                if(result.status == 'success'){
                    window.location.href="/home";
                }
                else{
                    toastEBody.text(result.msg);
                    toastE.show();
                }
                
            },
            error: function(result){
                toastEBody.text(result.msg);
                toastE.show();
            }
        });
    });
</script>