
<div style="display: flex;flex-direction: column;">
    <div style="display:flex;justify-content: center">
        <!-- form for signing in user -->
        <form action="/createSession" method="post" style="width: 50%;" id="signInForm">
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" name="email" class="form-control" placeholder="Your email" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Your password" required>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </div>
    
    
    <p style="text-align: center;">Not registered? <a href="/signUp">Sign up</a></p>
</div>

